<!DOCTYPE html>
<html lang="fr" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Administration</title>
    <meta name="description" content="Notre restaurant vous propose ses pâtes, ses pizzas et ses desserts italiens.">
    <meta name="author" content="Christiane Dumont">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Original+Surfer" rel="stylesheet">
    <!-- CSS de Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- CSS perso -->
    <link rel="stylesheet" href="/css/style.css" media="all">
</head>
<body>


